<<<<<<< HEAD
#container,#cart{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
}
#img{
    width: 300px;
    height: 300px;
}
#cart{
    font-size: 10px;
=======
#container,#cart{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 10px;
}
#img{
    width: 300px;
    height: 300px;
}
#cart{
    font-size: 10px;
>>>>>>> 46edd0dddd841769c115676e473ae2e46b2f1e95
}